{% extends "catalog/base.html" %}
{% block  content %}
    <div class="row">
        <div class="col-11">
           <div class="card-header">
                <h4> Создать продукт </h4>
           </div>
           <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button 
                        type="submit" 
                        class="btn btn-success" 
                        enctype="multipart/form-data"
                    > Сохранить </button>
                </form>
           </div>
           <div class="card-footer"></div> 
        </div>
    </div>    
{% endblock  %}