{% extends 'catalog/base.html' %}
{% load castom_filter %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ object.image|mymedia }}" alt="" width="100%" />

        <div class="card-body">
          <h3>Наименование: {{ object.name }}</h3>
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
              <li>
                <b>Описание:</b> <br />
                {{ object.description }}
              </li>

              <li>
                <b>Цена за покупку:</b> <br />
                {{ object.price }}
              </li>

              <li>
                <b>Дата создания:</b> <br />
                {{ object.date_of_creation }}
              </li>

              <li>
                <b>Дата последнего изменения:</b> <br />
                {{ object.last_modified_date }}
              </li>

              <li>
                <b>Автор:</b> <br />
                {{ object.author }}
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
