{% extends 'catalog/base.html' %}
{% load castom_filter %}
{% block content %}
  <div class="row mb-4">
    
      <a href="{% url 'catalog:create_product' %}" class="btn btn-success"> + Создать продукт </a>
    
  </div>
  <div class="row">
    {% for object in object_list %}
      <div class="col-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">{{ object.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center">$ {{ object.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
              <li>
                <b>Описание:</b> <br />
                {{ object.description|truncatechars:100 }}
              </li>
              <li>
                <br />
                <ul>
                   <b>Активные версии: </b> <br />
                   {% for version in object.version_set.all|active_version %}
                    <li> {{version.name}} (V:{{ version.number }})</li>
                   {% endfor %} 
                </ul>
              </li>
              <li>
                <p align="center">
                  <br />
                  <a href="{% url 'catalog:product' object.pk %}"><b>Подробнее </b></a> 
                  <a href="{% url 'catalog:edit_product' object.pk %}"><b> | Редактировать</b></a>
                </p>
              </li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
