{% extends 'catalog/base.html' %}
{% block content %}
  <div class="col-12">
    <form method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-12 mb-4">
          <button type="submit" class="btn btn-success" enctype="multipart/form-data">Сохранить</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card-header">
            <h4>Продукт</h4>
          </div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="card-footer"></div>
        </div>
        {% if product.author == user or user.is_superuser is True %}
        <div class="col-6">
          <div class="card-header">
            <h4>Версии продута</h4>
          </div>
          <div class="card-body">
            {{ formset.management_form }}
            {% for form in formset.forms %}
              {{ form.as_p }}
            {% endfor %}
          </div>
          <div class="card-footer"></div>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
