{% extends 'catalog/base.html' %}
{% load castom_filter %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ object.image|mymedia }}" alt="" width="100%" />

        <div class="card-body">
          <h3>Наименование: {{ object.name }} (V: {{ object.number }})</h3>
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
              <li>
                <b>Продукт:</b> <br />
                {{ object.product }}
              </li>
              <li>
                <b>Активная:</b> <br />
                {{ object.is_active }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
